certifi==2022.12.7
charset-normalizer==3.1.0
chevron==0.14.0
dacite==1.6.0
idna==3.4
Jinja2==3.1.2
jsonschema==2.6.0
MarkupSafe==2.1.2
mashumaro==3.7
PyYAML==6.0
requests==2.31.0
StrEnum==0.4.10
typing_extensions==4.5.0
urllib3==1.26.15
